# vi:syntax=yaml.ansible
---
# Use npm global config
# for before userconfig exists
- name: Get npm globalconfig file
  ansible.builtin.command:
    cmd: "npm config --global get globalconfig"
  register: npm_globalconfig_check
  changed_when: false
# bizarre setting where you need to set the globalconfig in the file
# you're using for globalconfig
- name: Set npm globalconfig
  when: "'/'.join((ansible_facts['env']['HOME'],'.npmrc')) != npm_globalconfig_check.stdout"
  ansible.builtin.lineinfile:
    create: true
    line: "globalconfig={{ ansible_facts['env']['HOME'] }}/.npmrc"
    path: "{{ ansible_facts['env']['HOME'] }}/.npmrc"
    regexp: "^globalconfig"
- name: Get current npm prefix
  ansible.builtin.command:
    cmd: "npm config --global get prefix"
  register: npm_prefix_check
  changed_when: false
- name: Set npm prefix
  when: "'/'.join((ansible_facts['env']['HOME'],'.npm')) != npm_prefix_check.stdout"
  ansible.builtin.command:
    cmd: "npm config --global set prefix {{ ansible_facts['env']['HOME'] }}/.npm"
  changed_when: true
- name: Update npm packages
  community.general.npm:
    global: true
    state: latest
