# EditorConfig:
# - http://EditorConfig.org
# - https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# top-most EditorConfig file
root = true

# Some defaults for every file
[*]
charset = utf-8
end_of_line = lf
# 2 spaces is the default prettier indentation, and we should follow convention
# over configuration for tooling where possible.
# YAML files also rely on 2 spaces for indentation.
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
tab_width = 2
trim_trailing_whitespace = true

# text should be wrapped at 72 characters
[*.md,gitcommit,*.txt]
max_line_length = 72
trim_trailing_whitespace = false

# PSR-12 enforces 4 space indentation
[*.php,*.phar]
indent_size = 4
indent_style = space
tab_width = 4

# Rust style is 4 spaces
[*.rs]
indent_size = 4
indent_style = space
tab_width = 4

# Go's styleguide uses tabs for indentation
[*.go]
indent_style = tab

# Makefile by default uses a tab to signify a command,
# it's easiest to think of this as the indentation
[{Makefile,**.mk}]
indent_style = tab

# CSV files can have any line length
[*.csv]
max_line_length = off
