[alias]
  cleanup = "!f() { \
      (git switch -c cleanup-repo-branch || git switch cleanup-repo-branch) && \
      git branch -D master && \
      git reset --hard && \
      git clean -df && \
      git fetch -a && \
      git checkout master && \
      git submodule update --init --recursive -f && \
      git branch | grep -v 'master' | grep -ve '^*' | xargs git branch -D && \
      git remote prune origin && \
      git gc; \
    }; f"
  mailmap-helper = shortlog --summary --numbered --email --all
[commit]
	gpgsign = true
[diff]
	submodule = log
[fetch]
  recurseSubmodules = on-demand
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[status]
  submoduleSummary = false
[url "https://"]
	insteadOf = git://
[user]
	name = Chad Wade Day, Jr.
	email = cdayjr@users.noreply.github.com
  signingkey = 9041D7756B13B2DB
[include]
  path = ~/.local/share/includes/medbridge-config/gitconfig
[pull]
	ff = only
