[submodule ".local/src/screenFetch"]
	path = .local/src/screenFetch
	url = https://github.com/KittyKatt/screenFetch
	branch = master
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
	branch = master
[submodule ".vim/bundle/neoformat"]
	path = .vim/bundle/neoformat
	url = https://github.com/sbdchd/neoformat
	branch = master
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
	branch = master
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
	branch = master
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
	branch = master
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
	branch = master
[submodule ".vim/bundle/tsuquyomi"]
	path = .vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi
	branch = master
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
	branch = master
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
	branch = master
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule ".vim/bundle/vim-liquid"]
	path = .vim/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid
	branch = master
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
	branch = master
[submodule ".vim/bundle/vim-twig"]
	path = .vim/bundle/vim-twig
	url = https://github.com/lumiliet/vim-twig
	branch = master
[submodule "/Users/cday/.vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/adelarsq/vim-matchit
	branch = master
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
	branch = master
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
	branch = master
[submodule ".vim/bundle/vim-vebugger"]
	path = .vim/bundle/vim-vebugger
	url = https://github.com/idanarye/vim-vebugger
	branch = master
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/adelarsq/vim-matchit
	branch = master
[submodule ".local/src/urxvt-perls"]
	path = .local/src/urxvt-perls
	url = https://github.com/muennich/urxvt-perls
	branch = master
[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim
	branch = master
[submodule ".vim/bundle/vim-helm"]
	path = .vim/bundle/vim-helm
	url = https://github.com/towolf/vim-helm
	branch = master
[submodule ".vim/bundle/Jenkinsfile-vim-syntax"]
	path = .vim/bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax
	branch = master
[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
	branch = master
