---
- name: "Download {{ font.directory }}"
  ansible.builtin.get_url:
    url: "https://devimages-cdn.apple.com/design/resources/download/{{ font.file }}"
    dest: "/tmp/{{ font.file }}"
- name: "{{ font.file }} extraction"
  ansible.builtin.command:
    cmd: '7z x -o/tmp "/tmp/{{ font.file }}"'
  args:
    creates: "/tmp/{{ font.directory }}"
- name: "{{ font.pkg }} extraction"
  ansible.builtin.command:
    cmd: '7z x -o"/tmp/{{ font.directory }}" "/tmp/{{ font.directory }}/{{ font.pkg }}"'
  args:
    creates: "/tmp/{{ font.directory }}/Payload~"
- name: "{{ font.pkg }} extraction"
  ansible.builtin.command:
    cmd: '7z x -o"/tmp/{{ font.directory }}" "/tmp/{{ font.directory }}/{{ font.pkg }}"'
  args:
    creates: "/tmp/{{ font.directory }}/Payload~"
- name: "{{ font.directory }} Payload~ extraction"
  ansible.builtin.command:
    cmd: '7z x -o"/tmp/apple/{{ font.directory }}" "/tmp/{{ font.directory }}/Payload~"'
  args:
    creates: "/tmp/apple/{{ font.directory }}/Library"
