# vi:syntax=yaml.ansible
---
- name: Install nerd fonts
  block:
    - name: Get latest release of nerd fonts
      ansible.builtin.uri:
        headers:
          Accept: application/vnd.github.v3+json
        url: https://api.github.com/repos/ryanoasis/nerd-fonts/releases/latest
      register: font_nf_github_latest_release
    - name: Check if nerd fonts is installed
      ansible.builtin.file:
        path: "~/.local/share/fonts/nerd-fonts-{{ latest }}"
        state: directory
      vars:
        latest: "{{ font_nf_github_latest_release.json.tag_name }}"
      ignore_errors: yes
      register: font_nf_exists
    - name: Install nerd fonts
      when: font_nf_exists is changed
      block:
        - name: Download and Extract nerd fonts
          ansible.builtin.unarchive:
            src: "{{ item }}"
            dest: "~/.local/share/fonts/nerd-fonts-{{ latest }}/"
            remote_src: true
          loop: "{{ download_urls }}"
          vars:
            latest: "{{ font_nf_github_latest_release.json.tag_name }}"
            search: "assets[*].browser_download_url"
            download_urls: "{{ font_nf_github_latest_release.json | community.general.json_query(search) }}"
          register: font_nerd_fonts_installed
        - name: Cleanup old nerd fonts
          when: font_nerd_fonts_installed.changed
          block:
            - name: Find non-latest nerd fonts
              ansible.builtin.find:
                excludes:
                  - "^nerd-fonts-{{ latest | regex_escape('posix_basic') }}$"
                paths: "~/.local/share/fonts/"
                patterns: "^nerd-fonts.*tar\\.xz$"
                use_regex: true
              vars:
                latest: "{{ font_nf_github_latest_release.json.tag_name }}"
              register: old_nerd_fonts
            - name: Remove old nerd fonts
              ansible.builtin.file:
                path: "{{ item.path }}"
                state: absent
              with_items: "{{ old_nerd_fonts.files }}"
