# vi:syntax=yaml.ansible
---
- name: Update Homebrew
  community.general.homebrew:
    update_homebrew: yes
- name: Install "Development Tools" Homebrew equivalent package group
  community.general.homebrew:
    name:
      - diffstat
      - gettext
      - git
      - gpatch
      - patchutils
    state: present
- name: Setup ascii-image-converter repository
  community.general.homebrew_tap:
    name: TheZoraiz/ascii-image-converter
    state: present
- name: Install Homebrew packages
  community.general.homebrew:
    name:
      - TheZoraiz/ascii-image-converter/ascii-image-converter
      - ansible-language-server
      - bash-language-server
      - bat
      - bottom
      - cmake
      - composer
      - curl
      - darcs
      - direnv
      - dockerfile-language-server
      - dust
      - eza
      - fd
      - fontforge
      - gh
      - gifski
      - gnupg
      - go
      - helix
      - helm-ls
      - hostess
      - imagemagick
      - jq
      - lesspipe
      - macvim
      - mas
      - mosh
      - mycli
      - node
      - opam
      - openssl
      - p7zip
      - pdm
      - php
      - php@8.4
      - pngquant
      - podman
      - procs
      - python
      - python-packaging
      - rclone
      - ripgrep
      - rsync
      - rust
      - sd
      - smimesign
      - sonar-scanner
      - speedtest-cli
      - sql-language-server
      - starship
      - streamlink
      - terraform-ls
      - tmux
      - tokei
      - typescript-language-server
      - unar
      - vscode-langservers-extracted
      - watch
      - weechat
      - wget
      - yadm
      - yaml-language-server
      - zsh
    state: present
- name: Install Apple Silocon Homebrew Packages
  community.general.homebrew:
    name:
      - marksman
    state: present
  when: apple_silicon
- name: Add brew zsh to /etc/shells (x86_64)
  become: true
  ansible.builtin.lineinfile:
    create: true
    name: /etc/shells
    line: /usr/local/bin/zsh
    state: present
  when: not apple_silicon
- name: Add brew zsh to /etc/shells (Apple Silicon)
  become: true
  ansible.builtin.lineinfile:
    create: true
    name: /etc/shells
    line: /opt/homebrew/bin/zsh
    state: present
  when: apple_silicon
- name: Set user shell (x86_64)
  become: true
  ansible.builtin.user:
    name: "{{ lookup('env','USER') }}"
    shell: /usr/local/bin/zsh
    state: present
  when: not apple_silicon
- name: Set user shell (Apple Silicon)
  become: true
  ansible.builtin.user:
    name: "{{ lookup('env','USER') }}"
    shell: /opt/homebrew/bin/zsh
    state: present
  when: apple_silicon
- name: Install Homebrew casks
  community.general.homebrew_cask:
    greedy: true
    name:
      - caffeine
      - cloudflare-warp
      - ente-auth
      - flux
      - gimp
      - git-credential-manager
      - iina
      - imageoptim
      - joplin
      - keepassxc
      - latest
      - macfuse
      - pinta
      - podman-desktop
      - rocket
      - sequel-ace
      - the-unarchiver
      - ungoogled-chromium
      - virtualbox
      - vlc
      - wezterm
      - xscreensaver
    state: present
    sudo_password: "{{ ansible_become_password }}"
- name: Setup sourcegit repository
  community.general.homebrew_tap:
    name: ybeapps/homebrew-sourcegit
    state: present
- name: Install unsigned Homebrew casks
  community.general.homebrew_cask:
    greedy: true
    name:
      - librewolf
      - powershell
      - sourcegit
    install_options: no-quarantine
    state: present
    sudo_password: "{{ ansible_become_password }}"
- name: Install apps from the Mac App Store
  # disable this because it seems to be extremely slow
  when: false
  community.general.mas:
    id:
      - 1221250572 # Xnip - Screenshot & Annotation
      - 1295203466 # Windows App
      - 1497506650 # Yubico Authenticator
      - 1661733229 # LocalSend
      - 497799835 # Xcode
      - 640199958 # Apple Developer
    state: latest
- name: Home setup
  when: ansible_facts['env']['USER'] != "cday"
  block:
    - name: Update MacPorts
      become: true
      community.general.macports:
        selfupdate: true
    - name: Install home Homebrew casks
      community.general.homebrew_cask:
        greedy: true
        name:
          - 8bitdo-ultimate-software
          - audacity
          - chatterino
          - discord
          - fedora-media-writer
          - foobar2000
          - gog-galaxy
          - mactex
          - mediahuman-audio-converter
          - minecraft
          - monal
          - mounty
          - raspberry-pi-imager
          - remote-desktop-manager
          - sdformatter
          - signal
          - steam
          - streamlink-twitch-gui
          - syncplay
          - threema@beta
          - transmission-remote-gui
          - twist
        state: present
        sudo_password: "{{ ansible_become_password }}"
    - name: Install home unsigned Homebrew casks
      community.general.homebrew_cask:
        greedy: true
        name:
          - betterdiscord-installer
          - lastfm
          - xld
        install_options: no-quarantine
        state: present
        sudo_password: "{{ ansible_become_password }}"
    - name: Setup pcloud repository
      community.general.homebrew_tap:
        name: lyraphase/pcloud
        state: present
    - name: Install pCloud
      community.general.homebrew_cask:
        name:
          - pcloud-drive
        state: present
        sudo_password: "{{ ansible_become_password }}"
    - name: Install MacPorts packages
      become: true
      community.general.macports:
        name: "{{ item }}"
      vars:
        item:
          - NetSurf
    - name: Upgrade all MacPorts packages
      become: true
      community.general.macports:
        upgrade: true
- name: Home app store
  # disable this because it seems to be extremely slow
  when: ansible_facts['env']['USER'] != "cday" and false
  community.general.mas:
    id:
      - 1482527526 # lire
      - 1532597159 # Mp3tag
      - 1573461917 # SponsorBlock for Safari
      - 302584613 # Amazon Kindle
      - 375589283 # Parcel - Delivery Tracking
      - 412056820 # Trilian
      - 539883307 # LINE
      - 545519333 # Amazon Prime Video
      - 6444602274 # Ivory for Mastodon by Tapbots
      - 6451469297 # DeArrow for YouTube
      - 897283731 # Strongbox - Password Manager
    state: latest
- name: Work setup
  when: ansible_facts['env']['USER'] == "cday"
  block:
    - name: Install work Homebrew packages
      community.general.homebrew:
        name:
          - helm@3
          - kubernetes-cli@1.33
        state: present
    - name: Install work Homebrew casks
      community.general.homebrew_cask:
        greedy: true
        name:
          - cyberduck
          - docker
          - google-drive
          - lastpass
          - lifesize
          - microsoft-office
          - postman
          - zoom
        state: present
        sudo_password: "{{ ansible_become_password }}"
    - name: Work configuration repo
      ansible.builtin.git:
        repo: "git@github.com:cdayjr/work-config"
        dest: "~/.local/src/work-config"
    - name: Work configuration link
      ansible.builtin.file:
        src: "~/.local/src/work-config"
        dest: "~/.local/share/includes/work-config"
        state: link
    - name: Unlink php
      community.general.homebrew:
        name: php
        state: unlinked
    - name: Link php@8.4
      community.general.homebrew:
        name: php@8.4
        state: linked
    - name: Unlink kubernetes-cli
      community.general.homebrew:
        name: kubernetes-cli
        state: unlinked
    - name: Link kubernetes-cli@1.33
      community.general.homebrew:
        name: kubernetes-cli@1.33
        state: linked
    - name: Link helm@3
      community.general.homebrew:
        name: helm@3
        state: linked
- name: Install fonts
  community.general.homebrew_cask:
    name:
      - font-arial
      - font-arial-black
      - font-atkinson-hyperlegible
      - font-cascadia-code
      - font-cascadia-mono
      - font-comic-neue
      - font-comic-sans-ms
      - font-courier-new
      - font-impact
      - font-inclusive-sans
      - font-jetbrains-mono-nerd-font
      - font-noto-color-emoji
      - font-noto-emoji
      - font-noto-sans
      - font-noto-serif
      - font-open-dyslexic
      - font-overpass
      - font-roboto
      - font-sauce-code-pro-nerd-font
      - font-source-sans-3
      - font-source-serif-4
      - font-times-new-roman
      - font-trebuchet-ms
      - font-verdana
    state: present
    sudo_password: "{{ ansible_become_password }}"
- name: Upgrade all casks
  community.general.homebrew_cask:
    greedy: true
    sudo_password: "{{ ansible_become_password }}"
    upgrade_all: true
- name: Upgrade remaining homebrew packages
  community.general.homebrew:
    upgrade_all: yes
- name: Install pip packages
  ansible.builtin.pip:
    name:
      - powerline-gitstatus
      - powerline-status
    state: latest
- name: Disable Microsoft Required Data Notice
  become: true
  community.general.osx_defaults:
    domain: /Library/Preferences/com.microsoft.autoupdate2
    key: AcknowledgedDataCollectionPolicy
    type: string
    value: RequiredDataOnly
    state: present
- name: Install personal fonts
  block:
    - name: Get font collection
      ansible.builtin.git:
        repo: git@github.com:cdayjr/fonts
        dest: ~/.local/src/fonts
        depth: 1
      register: personal_fonts_repo
    - name: Install personal fonts
      when: personal_fonts_repo.changed
      block:
        - name: Find all fonts
          ansible.builtin.find:
            paths:
              - ~/.local/src/fonts
            patterns:
              - "*.otf"
              - "*.ttf"
            recurse: true
            file_type: file
          register: personal_font_results
        - name: Install fonts
          when: personal_font_results.files|length > 0
          ansible.builtin.file:
            dest: "~/Library/Fonts/{{ item.path | basename }}"
            force: true
            src: "{{ item.path }}"
            state: hard
          loop: "{{ personal_font_results.files }}"
